<mat-card class="form-container">
    
  
    <form class="form-container" >
        <mat-form-field>
          <input matInput [(ngModel)]="titleValue" placeholder="Title" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Content">
        </mat-form-field>

        <span class="done">
            <button mat-fab (click)="postTask()">
              <label>send</label>
            </button>
        </span>
    </form>
    
</mat-card>
