@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-container > * {
    width: 100%;
}

.done {
    float: right;
    bottom: 20px;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
  
mat-card {
    max-width: 100%;
    margin: 2em auto;
    text-align: right;
}
  
mat-toolbar-row {
    justify-content: space-between;
}