<mat-card class="form-container">
    
  
    <form class="form-container" >
        <mat-form-field>
          <input matInput [(ngModel)]="todo.titleValue" placeholder="Title">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="todo.description" placeholder="Content">
        </mat-form-field>

        <div>Completed: 
          <mat-slide-toggle class="todo-switch" [(ngModel)]="completed"></mat-slide-toggle>
          </div>
        <span class="done">
            <button mat-fab (click)="postTask()">
              <label>send</label>
            </button>
        </span>
    </form>
    
</mat-card>
